.bank-card {
    color: white;
    width: 340px;
    height: 200px;
    border-radius: 12px;
    /*margin: 0 16px 0 0;*/
}

    .bank-card:hover {
        z-index: 100;
    }

    .bank-card .ant-card-head {
        color: inherit;
    }

    .bank-card.background {
        background: -webkit-linear-gradient( to right bottom,var(--primary-color-5), var(--primary-color-2) );
        background: -o-linear-gradient( to right bottom,var(--primary-color-5), var(--primary-color-2));
        background: -moz-linear-gradient( to right bottom,var(--primary-color-5), var(--primary-color-2));
        background: linear-gradient( to right bottom,var(--primary-color-5), var(--primary-color-2) );
    }

    .bank-card.gray {
        filter: grayscale(100%);
        /*opacity: 0.5;*/
    }

.bank-qrCode {
    width: 60px;
    height: 60px;
    cursor: pointer;
    /*border: solid 1px var(--border-color-base);*/
}

.card-font {
    font-size: 18px;
    font-family: menlo, tahoma;
    text-shadow: 1px 1px 2px #666;
    line-height: 18px;
    text-align: left;
    /*padding-left: 20px;*/
}

.card-font-small {
    font-size: 14px;
    text-shadow: 1px 1px 2px var(--border-color-base);
}

.button {
    /*color: white;*/
    font-size: 14px;
    margin-left: 10px;
    padding-bottom: 4px;
}
