@page "/MyProfile"
@model MyProfileModel
@{
}
<a-app id="my-profile">
    <div style="padding: 4px">
        <a-card :bordered="false">
            <a-tabs tab-position="left">
                <a-tab-pane key="1" tab="基本设置">
                    <a-card title="基本设置" :bordered="false">
                        <a-row :gutter="24">
                            <a-col :span="14">

                            </a-col>
                            <a-col :span="10">
                                <div>
                                    <div> 头像 </div>
                                    <a-space direction="vertical" align="center">
                                        <a-avatar :size="140" :src="avatar">
                                            <template #icon>
                                                <i class="fa fa-user"></i>
                                            </template>
                                        </a-avatar>
                                        <upload-single v-model:url="upload.url"
                                                       :action="upload.action"
                                                       :data="upload.data"
                                                       :show-upload-list="false"
                                                       v-on:change="onUploadChange">
                                            <a-button>
                                                <a-space>
                                                    <i class="fa fa-upload"></i>
                                                    点击上传
                                                </a-space>
                                            </a-button>
                                        </upload-single>
                                    </a-space>
                                </div>
                            </a-col>
                        </a-row>
                        <a-button type="primary" v-on:click="()=>{}"> 更新基本信息 </a-button>
                    </a-card>
                </a-tab-pane>
                <a-tab-pane key="2" tab="安全设置">
                    <a-card title="安全设置" :bordered="false">

                    </a-card>
                </a-tab-pane>
            </a-tabs>
        </a-card>
    </div>
</a-app>
@section Styles {
    <style>
        /*      #my-profile .ant-form-item-label {
            width: 120px !important;
        }

        #my-profile .ant-form-item-control-wrapper {
            width: calc(100% - 120px) !important;
        }*/
    </style>
}
@section Scripts {
    <a-script src="/Pages/Account/MyProfile.cshtml.js" />
}