
.login-body {
    width: 100%;
    height: calc(100vh - 86px);
    min-height: 604px;
    overflow: hidden;
}

.login-body-content {
    margin: -280px 0px 0px -600px;
    width: 1200px;
    min-height: 486px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: url(/images/loginbg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

    .login-body-content .rightbox {
        float: right;
        margin-right: 5px;
        margin-top: 75px;
        border-radius: 5px !important;
        padding: 5px;
    }

        .login-body-content .rightbox .login {
            background-color: #ffffff;
            width: 380px;
            height: 360px;
            border-radius: 2px !important;
            position: relative;
            padding: 8px 24px;
        }

            .login-body-content .rightbox .login .title {
                padding: 25px 10px 35px 10px;
                font-size: 24px;
                font-weight: bold;
                color: #393939;
                text-align: left;
                *padding: 25px 22px 20px 22px;
            }

            .login-body-content .rightbox .login .item {
                padding: 0 30px;
                height: 60px;
                text-align: left;
                *display: block;
                *height: 85px;
            }

                .login-body-content .rightbox .login .item span.fieldname {
                    display: none;
                    height: 20px;
                    line-height: 20px;
                    font-size: 14px;
                    color: #585858;
                    *display: block;
                    padding-left: 5px;
                }

            .login-body-content .rightbox .login .link {
                padding: 5px 18px;
                font-size: 12px;
                color: #999999;
                text-align: center;
            }

.login-footer {
    padding: 21px 0;
    background-color: var(--primary-color);
}

.ant-layout {
    background-color: var(--primary-color);
}
